body {
  background-color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px auto 100px 100px;
  grid-gap: 0px;
  grid-auto-rows: minmax(250px, auto);
}

#clock {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 3 / 3 / 4;
  color: white;
  font-family: Aldrich;
  font-size: 120px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}
